@model Source.Models.ProductModel

<div class="card bg-white text-black">
    <h1 class="card-header">@Model.Name</h1>
    <div class="card-body">
        <p class="card-text">Price: @Model.Price</p>
    </div>
</div>